# Ignore everything, cuz' I've useless things here.
/*

# Some text
!readme.md

# Do I have to comment this ? You're not stupid !
!.gitignore

# Sub-folders things
!/.config
/.config/*

# Nixpkgs files, cuz' I use NixOS! I'm waiting for you Captain Obvious!
!.config/nixpkgs

# Show i3wm configuration, even if it was generated with home-manager.
!.config/i3
!.config/dunst
!.config/i3status
.config/i3/config
.config/dunst/dunstrc
.config/i3status/config

# Git configuration on the way!
!.config/git
.config/git/config

# Fish 'n chips
!.config/fish

# EDITOR 2000
!.config/nvim

# My eyes!
!.config/redshift

# My binaries!
!/bin

# Unignore tmux
!.config/tmux
!.tmux.conf
