[submodule "configs/htop"]
	path = configs/htop
	url = git@gist.github.com:7b3a0e761edfb0da37bf14572b551243.git
[submodule "configs/alacritty"]
	path = configs/alacritty
	url = git@gist.github.com:e6dde806028bf91bde22a172bae1ede2.git
[submodule "configs/rofi"]
	path = configs/rofi
	url = git@gist.github.com:6aed2db6dcf4467f6f51a2e5223e6a86.git
[submodule "configs/i3wm"]
	path = configs/i3wm
	url = git@gist.github.com:7c0156702834f302f85c1df8c0f1d4fb.git
[submodule "configs/neovim-files"]
	path = configs/neovim-files
	url = git@github.com:lightdiscord/neovim-files.git
[submodule "configs/i3status"]
	path = configs/i3status
	url = git@gist.github.com:a7aff58fd167ed2a584b29691c1d9f9a.git
[submodule "configs/npmrc"]
	path = configs/npmrc
	url = git@gist.github.com:c19b6e48f4ee8ff4f2eba173f71d3906.git
[submodule "configs/awesomewm"]
	path = configs/awesomewm
	url = git@github.com:lightdiscord/awesomewm.git
[submodule "overlays/nixpkgs-mozilla"]
	path = overlays/nixpkgs-mozilla
	url = https://github.com/mozilla/nixpkgs-mozilla.git
[submodule "home-manager"]
	path = home-manager
	url = git@github.com:lightdiscord/home-manager.git
