#navigator-toolbox {
  -moz-box-ordinal-group: 2;
}

#nav-bar {
	-moz-box-ordinal-group: 1 !important;
	border-top-width: 0 !important; 
}
#PersonalToolbar {
	-moz-box-ordinal-group: 2 !important;
}
#TabsToolbar {
	-moz-box-ordinal-group: 3 !important;
}

#main-window[sizemode="maximized"] {
	padding-top: 7px !important;
}

#nav-bar[inFullscreen],
#TabsToolbar[inFullscreen] {
	display: none;
}

#titlebar {
	display: none !important;
}

#PopupAutoCompleteRichResult {
	opacity: 0.9;
	margin-top: -332px;
	margin-left: 10px;
	height: 300px;
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox > scrollbox {
	overflow-y: auto !important;
}

#PopupAutoCompleteRichResult { display: none; }